body, p {
  font-family: ui-sans-serif, -apple-system, "system-ui", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 16.8px;
  text-align: start;
  letter-spacing: normal;
  margin: 0 20% 0;
}
.week-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  
  font-size: 24px;  /* Large font size */
  font-weight: 700;  /* Bold and heavy */
}

.week-info i {
  margin-right: 24px;  /* Increased space between icon and text */
  font-size: 24px;  /* Icon size */
}



.flaticon-week-icon {
  /* Add your Flaticon CSS here */
  
  margin-right: 8px;
}
/* General cell styling */
.cell {
  position: relative;
  border: 1px solid #E1E5EB; /* Lighter border */
  padding: 12px;
  background-color: #FAFBFC; /* Light greyish background */
  font-size: 14px; /* Smaller text */
  color: #333333; /* Darker text */
}

/* Edit icon styles */
.edit-icon {
  display: none;
  color: #B0BEC5; /* Light gray color */
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
}

.editable-cell:hover .edit-icon {
  display: inline-block;
}

/* Hidden element class */
.hidden {
  display: none !important;
}

/* Previous CSS rules... */

.button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.custom-button {
  padding: 8px 16px;
  margin: 0 5px 24px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: none;
}

.remove-button {
  background-color: transparent;
  color: #c12d2d;
  border: none;
}

.remove-button:hover {
  text-decoration: underline;
  color: #000000;
  box-shadow: none;
}


.save-button {
  background-color: #333;
  color: #fff;
}

.custom-button:hover {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.remove-button:hover {
  background-color: #d4d8de;
}

.save-button:hover {
  background-color: #4a4a4a;
}


/* Navigation container */
/* .nav-container {
  border-bottom: 1px solid #E1E5EB;
} */

/* .custom-nav-tabs {
  border-bottom: .5px solid rgb(155, 153, 153);
} */

.nav-item {
  margin-bottom: -1px;
}

.nav-link {
  border: none;
  border-radius: 0;
  color: #B0BEC5;
  transition: color 0.3s ease, border-bottom-color 0.3s ease;
}

.nav-link.active {
  color: #333333;
  border-bottom: 2px solid #333333;
}


/* Toast styles */
#toast-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 9999;
}

.toast {
  background-color: #333333;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.toast.hide {
  opacity: 0;
  pointer-events: none; 
}

.toast.show {
  opacity: 1;
  pointer-events: auto;
}



/* General Table Styles */
.table {
  margin-left: auto;  /* Align with the start of Week tab */
  margin-right: auto; /* Align with the end of Save button */
  max-width: 100%;    /* Table will not grow larger than its container */
  width: auto !important;        /* Table will shrink if the screen size is small */
  border-collapse: collapse;
  font-family: 'Arial', sans-serif;
  color: #333;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header Styles */
.table thead th {
  background: #ffffff;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  text-align: left;
}

/* Body Styles */
.table tbody th {
  background: #ffffff;
  padding: 10px;
  text-align: left;
}

.table tbody td {
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

/* Notion-Like Design Touches */
.table tbody tr:hover {
  background: #f3f4f6;
}

.editable-cell {
  position: relative;
}

/* Select Styles */
/* .custom-select {
  width: 100%;
  border: none;
  background: #f3f4f6;
  padding: 8px;
  border-radius: 5px;
  box-shadow: none;
  appearance: none;
} */

/* Edit Icon */
.edit-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  display: none; /* Initially Hidden */
}

/* Show edit icon when cell is hovered */
.editable-cell:hover .edit-icon {
  display: inline;
}

/* Break Cell */
.text-center.text-secondary.align-middle {
  background: #e0e0e0;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
