.cell {
    position: relative;
}

.edit-icon {
    display: none; /* Hide by default */

    color: rgb(169, 169, 169);
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
    
}

.editable-cell:hover .edit-icon {
    display: inline-block; /* Show on hover over the cell */
}


.hidden {
    display: none !important;
  }
  
  

